header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 200px;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  font-size: var(--size-l);
}